* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --primary-color: #020617;
  --primary-color-1: #111827;
  --secondary-color: #f5f5f5;
  --secondary-color-1: #6b7280;
  --tertiary-color: #ff8a08;
}

.container {
  height: 100vh;
  width: 100%;
}

.layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  grid-column-start: 1;
  grid-column-end: 13;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 164px;
  height: 50px;
  background-color: var(--primary-color);
}

header > nav > ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

header > nav > ul > li > a {
  text-decoration: none;
  color: var(--secondary-color-1);
}

header > nav > ul > li > a:active {
  color: var(--tertiary-color);
}
header > h1 > .jajang {
  color: var(--secondary-color);
}

header > h1 > .mahrul {
  color: var(--tertiary-color);
}

main {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 16px;
  height: 86vh;
  padding: 6.1rem 165px;
  background-color: var(--primary-color-1);
}

main > .main-content > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--secondary-color);
}

main > .main-content > ul > li > a {
  text-decoration: none;
  color: var(--secondary-color);
}

footer {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 50px;
  background-color: var(--primary-color);
}

footer > nav > ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

footer > nav > ul > li > a {
  text-decoration: none;
  color: var(--secondary-color-1);
}

footer > p {
  color: var(--secondary-color-1);
}

/* Media Queries Mobile */

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    height: 100px;
    padding: 1rem;
  }

  main {
    /* grid-template-columns: 1fr; */
    height: 86vh;
    padding: 2rem 2rem;
  }

  main > .main-content {
    grid-column-start: 1;
    grid-column-end: 13;
    gap: 1rem;
    padding: 0 2rem;
  }

  footer {
    flex-direction: column;
    align-items: center;
    height: 100px;
    padding: 1rem;
  }
}
